<div class="card-item col" date-include="_includes/links_horizontal.html">
  <div class="card hoverable">
    <div class="row g-0">
      {%- if link.img -%}
      <div class="card-img col-md-6">
        {% include figure.html path=link.img alt="project thumbnail" %}
        </div>
        <div class="col-md-6">
          {%- else -%}
          <div class="col-md-12">
            {%- endif -%}
            <div class="card-body">
              <h3 class="card-title text-lowercase">
              {%- if link.url -%}
                <a href="{{ link.url }}">{{link.title}} </a>
              {%- else -%}
              {{link.title}}
              {%- endif -%}
              </h3>
              <p class="card-text">
              
                {{ link.description }}
              
              </p>
              <p class="card-text">
                {%- if link.category -%}
                category: {{link.category}}
                {%- endif -%}
              </p>
            </div>
            </div>
            </div>
            </div>
</div>